---
layout: default.njk
title: Posts
---

{% block content %}
  <div class="max-w-2xl mx-auto">
    <h2>Today I Learned</h2>
    {% set postslist = collections.til %}
    {% include "layouts/tillist.njk" %}
  </div>
{% endblock %}

