<!DOCTYPE html>
<html lang="en">
  <head>
    <title>{{title}} | Rickard Natt och Dag</title>
    <meta charset="UTF-8" />
    <meta name="description" content="I am a developer from Sweden. I enjoy making user-friendly websites and creating tools that make life easier for other developers." />
    <meta http-equiv="x-ua-compatible" content="ie=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover"/>
    <link rel="stylesheet" href="/style.css"/>
    <link rel="shortcut icon" type="image/x-icon" href="/assets/favicon.ico" />
    <link href="/dracula.css" rel="stylesheet">

    {% block head %}{% endblock %}
    <script async src="https://cdn.splitbee.io/sb.js"></script>
  </head>
  <body>
    <main class="mt-8 md:px-8 grid grid-template-main">
      <div class="flex items-center justify-end col-start-3 col-end-4 space-x-8">
        <a class="font-bold text-indigo-600 dark:text-indigo-400 {{ 'nav-item' if '/' === page.url }}" href="/" >
          @rnattochdag
        </a>
        <a class="font-bold {{ 'nav-item' if '/uses' in page.url }}"
          href="/posts">
          Blog
        </a>
        <a class="font-bold {{ 'nav-item' if '/uses' in page.url }}" href="/uses">
          What I Use
        </a>
      </div>
      <div class="my-10 md:my-32 col-start-3 col-end-4">
        {% block content %}
          {{ content | safe }}
        {% endblock %}
      </div>
    </main>
  </body>
</html>
