---
layout: default.njk
---

{% block content %}
<div class="ml-auto mr-auto prose dark:prose-dark prose-indigo">
  <h1>{{title}}</h1>

  {{content | safe}}

  <hr>

  <div class="text-sm text-gray-600">
    {{date | htmlDateString}}
  </div>
  {% if url %}
  <div class="text-sm text-gray-600">
    <a href="{{url}}">Original post</a>
  </div>
  {% endif %}
</div>
{% endblock %}
