---
layout: default.njk
---

{% block head %}
<link href="/coldark.css" rel="stylesheet" />
{% endblock %}

{% block content %}
<article class="ml-auto mr-auto max-w-prose">
  <div class="prose dark:prose-dark prose-blue">
    <h1>{{title}}</h1>
  </div>

  <div class="my-5 text-sm text-gray-600 dark:text-gray-400">
    {{date | htmlDateString}}

    {% if updated %}
    <span class="dark:text-gray-500">
      (Updated {{updated | htmlDateString}})
    </span>
    {% endif %}

    • {{ content | striptags | readingTime }}

    {% if url %}
      • <a class="text-blue-600 dark:text-blue-400" href="{{url}}">Original post</a>
    {% endif %}

    <ul class="flex text-sm space-x-2">
      <li>Tags:</li>
      {% for tag in tags | noPostTag %}
      {% set tagUrl %}/tags/{{ tag }}/{% endset %}
      <li>
        <a class="text-blue-600 dark:text-blue-400" href="{{ tagUrl | url }}">{{tag}}</a>
      </li>
      {% endfor %}
    </ul>
  </div>

  <div class="prose dark:prose-dark prose-blue">
    {{content | safe}}
  </div>
</article>
{% endblock %}
