<div class="grid grid-cols-1 md:grid-cols-12 gap-6"><ol reversed class="space-y-8 col-span-12 md:col-start-3 md:col-end-13">
    {% for post in postslist | reverse %}
      <li class="space-y-1">
        <a href="{{ post.url | url }}" class="text-xl text-gray-700 dark:text-gray-300 hover:underline hover:text-blue-600 dark:hover:text-blue-400">
        {% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}
        </a>
        {% if post.data.excerpt %}
        <p class="max-w-lg text-gray-600 dark:text-gray-400">
          {{ post.data.excerpt | safe }}
        </p>
        {% endif %}
        <time class="block mb-1 text-sm text-gray-600 dark:text-gray-500" datetime="{{ post.date | htmlDateString }}">
          {{ post.date | htmlDateString }}
        </time>
      </li>
    {% endfor %}
  </ol></div>
