@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  @apply font-sans font-light m-0 text-gray-700;
}

.markdown h2 {
  @apply pb-4 mb-4 border-b border-gray-300;
}

.grid {
  display: grid;
}

.grid-template-main {
  grid-template-columns: 20px 1fr minmax(auto, 570px) 4fr 20px;
}

.grid-column-main {
  grid-column: 3 / 4;
}

p:not(:last-of-type) {
  @apply mb-2;
}

.list-item p a {
  @apply border-b border-gray-700 text-gray-700;
}

.link {
  @apply border-b border-gray-900 pb-1 text-gray-900 bg-transparent relative;

  transition-property: background-color, border-color;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}

.link:hover {
  @apply bg-pink-300 border-pink-300;
}

.blob {
  position: fixed;
  height: 640px;
  right: -200px;
  top: -250px;
  width: 680px;
}

.blob path:first-of-type {
  animation-name: draw;
  animation-duration: 10s;
  animation-delay: 0;
  animation-iteration-count: infinite;
  stroke-dasharray: 300;
}

.blob path:nth-of-type(2) {
  animation-name: draw;
  animation-duration: 6s;
  animation-delay: 2s;
  animation-iteration-count: infinite;
  stroke-dasharray: 200;
}

.blob path:last-of-type {
  animation-name: draw;
  animation-duration: 4s;
  animation-delay: 1s;
  animation-iteration-count: infinite;
  stroke-dasharray: 100;
}

@keyframes draw {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 600;
  }
  100% {
    stroke-dashoffset: 0;
  }
}
