{% extends "default.njk" %}

{% block head %}
<link href="/css/coldark.css" rel="stylesheet" />
{% endblock %}

{% block content %}

<section class="mx-auto max-w-prose">

  <article class="prose dark:prose-dark">
    <h1 class="flex mb-5 text-2xl">
      <a href="/posts">til</a>
      <span class="mx-1 font-normal text-gray-400">/</span>
      <span>{{title}}</span>
    </h1>

    {{ content | safe }}

    {%- set seriesPosts = collections.postSeries | findSeries(series, title) %}
    {%- if seriesPosts and series %}
      <section class="p-5 text-sm rounded-lg shadow-lg bg-brandBlue-50 not-prose">
        <h2 class="mb-2">{{series | seriesName}} series</h2>
        <ul class="space-y-2">
          {% for post in seriesPosts %}
            <li>
              {{ post.part }}:
              {% if post.currentPage %}
                <strong>
                  {{ post.title }}
                </strong>
              {% else %}
                <a href="{{ post.url | url }}">
                  {{ post.title }}
                </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </section>
    {%- endif %}
  </article>

  {%- if collections.til %}
    {%- set nextPost = collections.til | getNextCollectionItem(page) %}
    {%- set previousPost = collections.til | getPreviousCollectionItem(page) %}
    {%- if nextPost or previousPost %}
      <hr>
      <ul class="flex flex-col items-center justify-between text-sm space-y-3 sm:space-y-0 sm:flex-row gap-5">
        <li>{%- if nextPost %}<a href="{{ nextPost.url | url }}">← {{ nextPost.data.title }}</a>{% endif %}</li>
        <li class="text-right">{%- if previousPost %}<a href="{{ previousPost.url | url }}">{{ previousPost.data.title }} →</a>{% endif %}</li>
      </ul>
    {%- endif %}
  {%- endif %}

  <footer class="mt-8 text-xs text-center text-gray-600">
    This til was created 
    <time class="font-semibold" datetime="{{createdDateTime}}">{{ createdDateTime }}</time>
    {%- if created !== modified %}
    and last modified 
    <time class="font-semibold" datetime="{{modifiedDateTime}}">{{ modifiedDateTime }}</time>
    {% endif %}
  </footer>
</section>
{% endblock %}
